# basic example. see the sanoid docs for details
# https://github.com/jimsalterjrs/sanoid

[poolname/dataset]
	use_template = storage
	recursive = yes

#############################
# templates below this line #
#############################

[template_storage]
	frequently = 0
	hourly = 24
	daily = 30
	monthly = 8
	yearly = 0
	autosnap = yes
	autoprune = yes

